*, *:before, *:after 
    box-sizing: border-box

:root 
    --fs-large: 3.5rem
    --fs-medium: 1.8rem
    --fs-small: 1rem

    --c-yellow: #BBAF40
    --c-yellowf: #bbaf408c

body 
    margin: 0
    padding: 0
    color: white
    font-family: 'Merriweather', sans-serif

body::before 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url(./images/chester.jpg)
    background-repeat: no-repeat
    filter: grayscale(100%)
    background-size: cover
    width: 100%
    height: 100%
    z-index: -1
    content: ""
    position: fixed
    top: 0
    left: 0
    right: 0
    background-position: center

@keyframes faded
    0% 
        opacity: 0
    100%
        opacity: 100


header 
    animation: faded 1.5s ease-in-out
    input
        display: none
    span
        display: none
        

ul 
    font-size: var(--fs-small)
    display: flex
    list-style: none
    margin-top: 4rem
    padding: 0
    gap: 5rem
    align-items: center
    justify-content: center
    

    a
        font-weight: 500
        text-decoration: none
        color: white

    li 
        padding: 0.4rem 1rem
        border-radius: 10px
        transition: all 0.3s ease-in-out

    li:hover 
        background-color: var(--c-yellowf)
        cursor: pointer

.container 
    margin-block: 7rem
    display: flex
    flex-direction: column
    gap: 10rem
    justify-content: center
    align-items: center

    h1 
        animation: faded 1.5s ease-in-out 500ms
        margin-top: 12rem
        font-size: var(--fs-large)
        text-shadow: 0 0 1em black, 0 0 4rem black
        text-align: center
        display: flex
        align-items: center
        justify-content: center
    p 
        animation: faded 1.5s ease-in-out 750ms
        font-size: var(--fs-medium)
        text-shadow: 0 0 1em black, 0 0 4rem black
        font-style: italic
        font-weight: lighter
        margin-top: -10rem
    
    .line 
        animation: faded 1.5s ease-in-out 1s
        margin-top: 5rem
        width: 30rem
        height: 0.3rem
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)), color-stop(35%, var(--c-yellow)), color-stop(65%, var(--c-yellow)))
        transition: all 0.9s ease-in-out

    .line:hover
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)), color-stop(35%, lightgrey), color-stop(65%, lightgrey))

    
@media screen and (max-width: 800px)
    ul
        display: flex
        flex-direction: column
        align-items: center
        gap: 0.2rem
    
    nav 
        transform: scale(1, 0)
        transition: transform 0.4s ease-in-out
        transform-origin: top
        margin-top: 1rem
        a
            opacity: 0
            transition: opacity 0.2s ease-in-out

    header 
        display: flex
        justify-content: center
        span
            display: block

    .nav-switch
        &:checked ~ nav
            transform: scale(1, 1)

        &:checked ~ nav a 
            opacity: 1
            transition: opacity 0.3s ease-in-out 250ms

    .nav-switch-label 
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        margin-top: 3rem
    
    .nav-switch-label span,
    .nav-switch-label span::before,
    .nav-switch-label span::after 
        display: block
        background: white
        height: 2px
        width: 2em

    .nav-switch-label span::before,
    .nav-switch-label span::after
        content: ''
        position: absolute

    .nav-switch-label span::before
        bottom: 9px

    .nav-switch-label span::after
        top: 9px

    //finished navbar mobile

    .container 
        margin-top: -11.5rem
        padding-inline: 2rem

        h1 
            font-size: 2.5rem
        
        p 
            font-size: 1.2rem

        .line
            margin-top: 1rem
            width: 45%

    

       



   